<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Método de Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="preview-stage">
    <div class="card-spotlight"></div>
    <div class="preview-card" [class.has-data]="formData.controls.cardNumber.value.length > 0">
      <app-payment-card
        [paymentData]="previewPayment"
        [hideBalance]="true"
        [enableTilt]="true"
        [animateEntry]="false">
      </app-payment-card>
    </div>
  </div>

  <form [formGroup]="formData" (ngSubmit)="handleSubmit()">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">Titular de la tarjeta</ion-label>
        <ion-input formControlName="cardholderName" autocapitalize="characters" placeholder="NOMBRE APELLIDO"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número de tarjeta</ion-label>
        <ion-input
          type="tel"
          inputmode="numeric"
          formControlName="cardNumber"
          (ionInput)="onCardNumberInput($event)"
          maxlength="23"
          placeholder="1234 5678 9012 3456">
        </ion-input>
      </ion-item>

      <div class="network-badge" *ngIf="detectedNetwork !== 'unknown'">
        <span class="badge" [class.visa]="detectedNetwork === 'visa'" [class.mc]="detectedNetwork === 'mastercard'">
          {{ detectedNetwork | uppercase }}
        </span>
      </div>

      <div class="row-fields">
        <ion-item class="half">
          <ion-label position="stacked">Vencimiento</ion-label>
          <ion-input
            type="tel"
            inputmode="numeric"
            formControlName="expirationFormat"
            (ionInput)="onExpirationInput($event)"
            maxlength="5"
            placeholder="MM/YY">
          </ion-input>
        </ion-item>

        <ion-item class="half">
          <ion-label position="stacked">CVV</ion-label>
          <ion-input type="tel" inputmode="numeric" formControlName="securityCode" maxlength="4" placeholder="•••"></ion-input>
        </ion-item>
      </div>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="isProcessing" class="save-btn">
      <ion-spinner *ngIf="isProcessing" name="crescent"></ion-spinner>
      <ng-container *ngIf="!isProcessing">
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        Guardar Método
      </ng-container>
    </ion-button>
  </form>
</ion-content>
